body{
    font-family:sans-serif;
    
}
img{
    width: 100%;
}
section{
    height: 400px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.about_div{
    width:40%;
    float:left;
    padding-left: 5%;
}

